.polygon1 {
  fill:#66BB6A;
}

.polygon2 {
  fill:#58A15B;
}

.grey1 {
  fill: #ECEFF1;
}

.grey2 {
  fill:#CFD8DC;
}

.grey3 {
  fill:#F5F5F5;
}

.grey4 {
  fill:#DBDBDB;
}

.grey5 {
  fill:#D2D4D6;
}
